/*MAIN CSS - BODY STYLE KYLE*/

* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

html {
	-webkit-text-size-adjust: none;
	}
	
	
body {
    text-align: center;
	background-color: #fff8ce;
    font-size: .8em;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 0;
    background-color: #fff8ce;
    overflow: -moz-scrollbars-vertical;
    background:#ffffff;
}

p {
	font-size: 12px;
}

ul li {
	margin-left: 0px;	
}

.normal{
padding: 15px;
margin-left:5px;
margin-bottom:7px;
font-size: 13px;
background-color:#e8f1f8;
border-radius: 12px;
}

#contentMain {
	padding-left:10px;
	/*padding-right:10px;*/
	text-align:left;
}


a:hover, a:focus {
    text-decoration:underline !important;
}
a:link,a:visited { text-decoration: underline; }
a {color:#1C75BC;}
#container {
	margin-right: auto;
	margin-left: auto;
	width: 961px;
	position: relative;
	background-color: white;
	
}
#contentmain {
	margin-right: auto;
	margin-left: auto;
	/*padding-right: 10px;*/
	padding-left: 10px;
	width: 941px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#content1 {
	width: 961px;
}
#mainimage {
	padding-top: 33px;
	padding-bottom: 33px;
	width:734px;
	text-align: center;
	margin-left:7px;
}

/*.mainImagePadding {
	width:734px;
	text-align: center;
	margin-left:8px;
}*/
.contentH {
	color: #1C75BC;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;	
	margin: 10px 0 15px 0;
}

.subH {
	color: #1C75BC;
	font-size: 14px;
	font-weight: bold;	
}

.fineprint {
	font-size: 10px;
	line-height:10px;
}

/* Main Content Area */
#contentText {
	float:right;
	width:750px;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#007dc3;	
	margin-top:10px;
	margin-bottom:10px;
	padding:0 10px 0 10px;
	text-align:left;
	font-size: .85em;
}

/* Main Content Area on template-nonav.master */
#contentText1 {
	float:left;
	width:961px;
	margin-top:10px;
	margin-bottom:10px;
	padding:0 10px 0 10px;
	text-align:left;
}
/* Main Content Area on template-nonav-cart.master */
#contentText2 {
	float:right;
	width:920px;
	margin-top:10px;
	margin-bottom:30px;
	padding:0 20px 0 10px;
	text-align:left;
	border-left: 0px !important;
	font-size:85%
	
}

#textarea table tbody tr td, #textarea table tr td{
	font-size:11px;
	padding-left: 11px;
}


#textarea {
	width: 730px;
	text-align: left;
	line-height: 19px;
	padding-left: 10px;
	font-size: 14px;
}

#textareaBookzone {
	width: 435px;
	text-align: left;
	line-height: 19px;
	padding-left: 10px;
	font-size: 14px;
	float:left;
}

#rightsideBookzone {
	width: 270px;
	float:right;
	clear:right;
	margin-right:10px;
}

#textarea a:link, #textarea a:visited {
	color: #1C75BC;
}

#textarea h1 {
	font-size: 23px;
	padding-bottom: 10px;
}
#textarea h2 {
	font-size: 18px;
	padding-bottom: 10px;
}
.clearMe {
	clear: both;
}
.justtext {
	margin-top: 25px;
	padding-right:10px;
}

#contentTextMain {
	width:941px;
	padding:10px;

}

#courselistcontainer {
	height:650px;

}

#breadcrumb
{
    clear:both;
	width:100%;
	text-align:left;
    color: #000000;
	font-size:10px;
	margin-bottom:5px;
	margin-left:10px;
}

#breadcrumb 
{
    line-height: 1.5em;
    color: #444;
}

#breadcrumb a, #miniCart a
{
    color: #6d6965;
	text-decoration:none;
}






/*FOOTER STYLES*/

#footer{
    background:url(images/sprite.png) 0 -403px repeat-x;
    height:32px;
    overflow:hidden;
    display:block;
    clear:both;
    font-family:Helvetica, Arial, Sans-Serif;
    color:#fff;
    font-size:10px;
    text-transform:uppercase;
	width:961px;
	margin-left:auto;
	margin-right:auto;
}
#footer ul {
    color:#fff;   
}
div#footerEmailUpdate {
    float:left;
    font-family:Helvetica, Arial, Sans-Serif;
    font-size:10px;
    text-transform:uppercase;
    color:#fff;
    background:transparent; 
    margin:6px 0 3px 10px;
    height:19px;   
    line-height:19px;
    padding:2px 0 0 0;
    width:auto;
    display:block;
}
div#footerEmailUpdate fieldset {
    height:19px;
    float:left;
}
div#footerEmailUpdate label {
      line-height:19px;
      height:19px;
      border:0;
      width:88px;
      float:left;
      display:inline-block;
      padding-left:3px;
}
div#footerEmailUpdate input#footerEmailUpdate {
    float:left;
    height:14px;
    border:0;
    background:#fff;
    width:104px;
    font-size:10px;
    padding:0 0 0 5px;
	border:1px solid #ddd;
}
div#footerEmailUpdate #footerEmailBtn {
	padding:0;
	width:57px;
	height:16px;
	border:none;
	background:transparent;
	float:left;
	cursor:pointer;
	outline:none;
}
div#footerWrap {
    color:#fff;
    padding:5px 10px 0 0;
    line-height:12px;
    text-align:right;
    float:right;
    width:550px;
}
div#footerWrap ul li a  {
    font-family:Helvetica, Arial, Sans-Serif;
    color:#fff;
    font-size:10px;
    text-transform:uppercase;
    text-decoration:none;  
	padding:0 5px 0 5px;
}

div#footerWrap ul {
    margin:0;
    padding:0;
    float:right;
    clear:both;
}
div#footerWrap ul li {
    padding:0;
    margin:0;
    list-style:none;
    float:left;
}
#copyright {
    font-style:italic;
    font-size:8px;
    font-weight:normal;  
    display:block; 
}










/* MAIN MENUS & NAVIGATIONS */

/*****************************************/
/*		ASP.Net Menu Styles				 */
/*****************************************/
.ctl00_aspnetMenu_1,
.aspnetMenu_Level1
{
    color: #fff;
    font-weight: normal;
    font-size: 11pt;
    cursor: hand;
    cursor: pointer;
    margin:0px;
    padding: 0 0px;
    line-height: 24px;
    vertical-align:middle;
    height: 24px;
	text-align:left !important;
}

.aspnetMenu_Level1 {
	display:none;	
}



/* Primary Nav Items Text Size */
.ctl00_aspnetMenu_2,
.aspnetMenu_Level2
{
    color:#fff;    
    font-size:10pt !important;
    line-height:25px;
    padding: 0 0px;
    font-weight:bold !important;
}

/** Hide all Separator Images, but then unhide all but first separator image **/
.ctl00_aspnetMenu_2 img {display:none;}
.ctl00_aspnetMenu_2 table img {display:inline;}

/* Hide only the last separator - Mozilla only */
.ctl00_aspnetMenu_2 table td:last-child img {display:none;}

.aspnetMenu_StaticSelectedStyle
{
    color: #000000;
}

/* Primary Category Nav Padding */
.aspnetMenu_StaticMenuItemStyle
{
	padding-top:3px;
}

/* Primary Nav Items Text Color */
.aspnetMenu_StaticMenuItemStyle a:active, 
.aspnetMenu_StaticMenuItemStyle a:link, 
.aspnetMenu_StaticMenuItemStyle a:visited,
.aspnetMenu_StaticMenuItemStyle a:hover
{
	color: #007dc3 !important;
	text-decoration: none;
	font-weight: normal;
	font-size: 11pt;
	cursor: hand;	
}

.aspnetMenu_Level1 .aspnetMenu_StaticMenuItemStyle a
{
	font-family: "Gill Sans MT", "Gill Sans", Arial, Verdana;
	font-size: 13px;
}

.aspnetMenu_Level2 .aspnetMenu_StaticMenuItemStyle a
{
	font-family: "Trebuchet MS", Arial, Verdana;
	font-size: 0.8em !important;
	color: #433F3C;
}


.aspnetMenu_DynamicSelectedStyle
{
    background:#fff;
       
}

/* Drop-Down Background */
.aspnetMenu_DynamicMenuItemStyle
{
	/* background-image: url(images/menu-bg.png); */
    border:none;
    font-size:9pt; 
	color:#5e5e60;    
}

/* 
	These are dynamic styles that can't be declared on the template.ascx, name needs to follow convention instead.	
*/

.aspnetMenu_StaticHoverStyle Hover
{
	color:#ffffff;
	font-size:9pt;	
}

.aspnetMenu_DynamicHoverStyle
{
	background:#DDDEE0;
    border:none;
    font-size: 9pt;    
}

/* Drop-Down Text Size, Color and Weight  */
.aspnetMenu_DynamicMenuItemStyle a:active,
.aspnetMenu_DynamicMenuItemStyle a:link,
.aspnetMenu_DynamicMenuItemStyle a:visited
{
	display:block;
    font-size: 10pt !important;
	color:#007dc3 !important;
	line-height: 15pt;
    padding-left: 10px;
    padding-right: 30px;
    width: 100%;
    text-decoration: none;
	/*font-weight:bold !important;*/
}

/* Drop-Down Hover Color */
.aspnetMenu_DynamicMenuItemStyle a:hover
{
	text-decoration:underline !important;
    /*color:#163a71 !important;*/
}

/* Drop-Down Border and Margin */
.aspnetMenu_DynamicMenuStyle
{
	z-index:500 !important;
	border:1px solid #575757;
	border:1px solid #ebebeb; /*-- nitro --*/
	border-top:none;
	margin-top:12px;
	margin-left:-10px;
	text-align:left;
	background: #ebebeb !important;
}




.social {
	float:right;
	padding-right:10px;
	margin-top:4px;
}



#masthead {
	widht:961px;
	height: 116px;
}


#mmenutype h5 {
	font-style: normal;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}

#mmenutype a{
	color: #1C75BC;
	}
#mmenutype a:hover
{
    text-decoration:underline !important;
}
#mmenutype a:visited,a:link { text-decoration: none }

#topmenutype a{
	color: #FFF;
	}
#topmenutype a:hover
{
    text-decoration:underline !important;
}
#topmenutype a:visited,a:link { text-decoration: none }

#mmenutype {
	position: absolute;
	left: 26px;
	top: 93px;
	word-spacing: .6px;	
}
#mmenutype h5 {
	font-style: normal;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #1C75BC;
}

.socialLogo {
	position: absolute;
	left: 889px;
	top: -6px;
}

#topmenutype h4 {
	font-weight: normal;
	color: #FFD200;
	font-size: 12px;
}
#topmenutype {
	position: absolute;
	left: 375px;
	top: 33px;
	width:500px;
	text-align:left
}

#contentTmenu {
	position: absolute;	
	left: 805px;
	top: 122px;
}







/* LEFT CATEGORY NAVIGATION */

.left_cat_nav {
    width: 150px;
    float: left;
    clear: both;
    padding-left:0px;
    padding-top:15px;
}

.navHeader
{
	display:none;
    width: 190px;
    height: 22px;
    line-height: 22px;
    padding-left: 0px;
    color: #6c6864;
    font-weight: bold;
}
.navHeader span.head
{
	margin-left:8px;
	font-size:1.2em;
}

.catMark
{
	display:none;
}

ul.tame
{
	margin:0;
	padding:10px 0 10px 5px !important;
	list-style:none;
	text-align:left;
	text-transform:uppercase;
	font-size:11px;
}
ul.tame li
{
	margin:0;
	padding: 0 0 5px 0 !important;
	list-style:none;
	text-align:left;	
}
ul.tame li.sec
{
	list-style-type:none;
	margin-left:10px;
}
ul.tame li.sec a
{
	color: #007dc3 !important;
	line-height:17px;
}

ul.tame ul.tame li.current ul.tame li.sec a,
ul.tame li.sec ul.tame li.sec a
{
	color: #007dc3 !important;
	line-height:17px;
	font-size:12px !important;
}

ul.tame li.sec ul.tame li.sec a:hover
{
	text-decoration:underline !important;
}
ul.tame li a
{
	text-decoration:none !important;
	font-weight:bold;
	color:#007dc3;
}
ul.tame li a:hover, ul.tame li.current a:hover, ul.tame li.categoryName a:hover

{
	text-decoration:underline;
	color:#575757 !important;
}

ul.tame li.current a, ul.tame li.categoryName a
{
	color:#19161b;
}

.tameHoriz, ul.tameHoriz li
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
}
ul.tameHoriz li
{
    display: inline;
    font-size: 1em;
}

/* Sub-Category Items Color */
ul.tame li ul.tame li a {color:#575757 !important;}

/* Sub-Category Items Hover Color */
ul.tame li ul.tame li a:hover {color:#007dc3 !important;}

/* Sub-Category Item Indent */
ul.tame ul.tame {
	padding-left:0 !important;
	padding-bottom:0 !important;
}


br.cl
{
    clear: both;
}





#leftWrap
{
	width:200px;
	float: left;
	padding-top:40px;
	text-indent:10px;
	
}

.left_default
{
	display:none;
}


.custservleft ul li {
	text-align:left;
	line-height:17px;
	display: inline;
	

}
	

.custservleft a:link, .custservleft a:visited {
	display: block;
	color: #007dc3 !important;
	line-height:17px;
	font-size:11.5px !important;
	text-decoration:none;
	font-weight: bold;
	
}

#content1 .custservleft a:hover, #content1 .custservleft a:active {
	display: block;
	color:#fcc03f !important;
	text-decoration:none;
	font-weight: bold;
}

#content1 #leftwrap .custservleft a:hover {
	text-decoration:none;
}

ul.nounderline li a:hover
{
	text-decoration:none !important;
	font-weight:bold;
	color:#007dc3;
}







/*----------------------------------------------------
	UCLASTORE GATEWAY PAGE
----------------------------------------------------*/

#contentgateway {
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 941px;

}

#homeSmallimgs  {
	margin-top: 10px;
	margin-bottom: 5px;
	width:941px;
}


.homeImgMArginRight {
	float:left;
	clear:right;
	margin-right:10px;
}

.homeImgMArginNone {
	float:left;
	clear:right;
}









/*----------------------------------------------------
	TEXTBOOKS MAIN PAGE
----------------------------------------------------*/

#leftside p, #rightside p {
	font-size: 12px;	
}

.textbooksform h2 {
	color: #1C75BC;
	font-size: 21px;
	text-align:center;
	
}
#rightside img {
	margin-top: 11px;
}

#leftside {
	text-align:center !important;
	width: 423px;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000;
}
#rightside {
	text-align:center !important;
	width: 227px;
	float: right;
	margin-right: auto;
	margin-left: auto;
}

#rightside p {
	padding-bottom: 11px;	
}

#textbookcontent2 {
	padding-top: 33px;	
}

#leftside #leftform #form1 tr td table tr td table tr td input, #pnlChangePwd input {
	border: 1px solid black;
}

#leftside #leftform #form1 tr td table tr td table tr td select {
	border: 1px solid black;
}

#leftside #leftform #form1 tr td table tr td table tr td #SUBMIT2 {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.formstyle {
	height: 22px;	
}

#leftform {
	padding-top: 20px;	
}

#leftside #leftform #form1 tr td table tr td table tr td {
	padding-right: 10px;
}

#leftform {
	/*margin-right: auto;
	margin-left: auto;*/
	text-align:center !important;
	width:285;
}

#leftside #leftform #form1 {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

#leftside #leftform #form1 tr td table tr td table tr td #SUBMIT2 {
	/*margin-right: 10px;*/
}

.formtext {
	font-size: 14px;	
}

#textform {
	width: 700px;
}

#textform h2 {
	color: #1C75BC;
	font-size: 21px;
	text-align:center;
}

#textbooksfooter {
	width:720px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	font-size: 11px;
	text-align:left;
}

.inst {
	padding-top: -5px;
}

.andersonh3 {
	color: #1C75BC;
	font-weight: bold;
	text-decoration: none;
	
}

.textsm {
	font-size: 13px;
	padding-bottom: 3px;
}

.padding1 {
	padding-bottom: 20px;
}






.divsclass {
	
	padding-top: 10px;
	padding-bottom: 10px;	
}

.line {
	background-color: #728E96;
	height: 1px;
	width: 580px;
}






/* DIGITAL TEXTBOOKS PAGE*/

#digitalcontent {
	width: 570px;
	margin-right: auto;
	margin-left: auto;
}


.digitaldef {
	width: 278px;
	float: right;
	font-size: 11px;
	line-height: 12px;
	padding-top: 18px;
}

.digitaldef1 {
	width: 278px;
	float: right;
	font-size: 11px;
	line-height: 12px;
	padding-top: 15px;
}

.digitalimg {
	float: left;
}

.imgcell {
	width: 155px;
	float: left;
	clear: both;
	text-align: center;
	margin-right: 10px;
	margin-top: 25px;
}
.textcell {
	width: 470px;
	float: left;
	margin-top: 15px;
}

.titlecell {
	font-size: 12pt;
	font-weight: bold;
	line-height: 14pt;
}



/* SHIPPING TABLE STYLES */

#tableship table td {
	padding: 5px;
	
}

.shiptable {
	background-color: #E8F1F8;
	font-size:12px;
	padding: 5px;
}

.shiptable1 {
	background-color: #F4F4F4;
	font-size:12px;
	padding: 5px;
}





/*----------------------------------------------------
	ANDERSON TABLE STYLES
----------------------------------------------------*/

#andersontable {
	padding-top: 28px;
	padding-bottom: 28px;
}

.atable1 {
	background-color: #F4F4F4;
	padding: 30px;
	height:30px;
}

.atable2 {
	background-color: #E8F1F8;
		padding: 30px;
		height:30px;

}
#andersontable td a, #andersontable td a:link, #andersontable td a:visited {
	text-decoration: none;
	font-size: 12px;
	color: #1C75BC;
	text-transform: uppercase;
}

#andersontable td a:hover {
	color: #f2bc00;	
	text-decoration: underline;
}

#andersontable table td{
	padding: 4px;
}

#andersontable td {
	text-decoration: none;
	font-size: 14px;
}

.faculty {
	padding-bottom:5px;
}








/*----------------------------------------------------
	EXPAND / COLLAPSE TABLES
----------------------------------------------------*/

.EXPlayer1 {
margin: 0;
padding: 0;
width: 730px;
}
.EXPheading {
font-size: 14px; 
font-weight: bold;
margin: 1px;
color: #333;
padding: 3px 10px;
cursor: pointer;
position: relative;
border-left: 2px #0CF;
}

.EXPcontent, .EXPcontentVISIBLE {
padding: 15px;
margin-left:10px;
margin-bottom:7px;
font-size: 13px;
background-color:#e8f1f8;
border-radius: 12px;
}


.EXPlayer2 {
margin: 0;
padding: 0;
width: 730px;
}
.EXPheading2 {
font-size: 16px; 
font-weight: bold;
color: #1C75BC;
cursor: pointer;
position: relative;
margin-bottom:10px;
}

.EXPcontent2, .EXPcontentVISIBLE2 {

margin-bottom:7px;
font-size: 13px;

}






.EXPboxleft {
	float: left;
	width: 460px;
}

.EXPboxright {
	float: right;
}
.IMGrounded {
	border-radius: 12px;
	margin-left: 10px;
}
a.EXParrow {
	display:block;
	padding-left: 20px;	
	color: #000;
	text-decoration: none;
}
a:link.EXParrow, a:visited.EXParrow {
	background-image:url(../../images/BTN_arrow.png);
	background-repeat:no-repeat;
}
a:hover.EXParrow, a:active.EXParrow {
	background-image:url(../../images/BTN_arrow2.png);
}

/*----------------------------------------------------*/


.cstable1 {
	
	background-color: #FFF;
	padding:4px;
	font-size:11px;
}

.cstable2 {
	font-size:11px;
	background-color: #B0CEEF;
	padding:4px;
	font-weight: bold;
}







/*----------------------------------------------------
FORM STYLES - contact us, email, customer sevice
----------------------------------------------------*/


#contentText input {
	border: thin gray solid;
	padding:1px;
}
#contentText2 input {
	border: thin gray solid;
	padding:1px;
}
#contentText input.AddToCartButton {
	border: none;
}

#contentText input.AddToWishButton {
	border: none;
}

.formsubmit
{
	cursor:pointer;
	background: transparent url(images/btnBkgSm.gif) no-repeat top left;
	color:#ffffff;
	font-weight:bold;
	width:110px;
	height:22px;
	border:none !important;
	font-family:Gill Sans MT, Gill Sans, Arial, Verdana;

}


/*----------------------------------------------------*/







/*----------------------------------------------------
	BOOKLIST STYLES
----------------------------------------------------*/

.bookliststeps {
	float:left;
	margin-bottom:10px;
}

.bookliststep2 {
	text-align:left;
    clear:both;
	margin-top:5px;
	/*border:thick red solid;*/
}

#clCriteriaBlock {
	margin-bottom:10px;
}
/*#contentbooklist {
	width:800px;
	
}*/

body .booklist {
	
	width:912px;
	padding:10px;
	border:thin gray solid;
	
}

body .booklist a {
	
	
	color: #1C75BC;
}

.thickbox a {
	color: #1C75BC;
	
}


.products {
	width:800px;
}


.ShoppingCart a {color: #1C75BC; }

.thickbox {
	color: #1C75BC;
	padding-right:10px;
	font-size:18px;
}

table .books {
	clear:left;
	width:500px;
	/*border:thick blue solid;*/
	font-size:13px;
	
}

.booklistbutton {
	margin-top:10px;
}


#course {
	margin:15px 0 0 0;
}

.editionsubs {
	margin:5px 0 0 0;
}

.summary {
	margin-bottom: 5px;
	}

.product {
	clear:both;
	
}


.booklist ul li {
	margin-left:20px;
}

ul.cartproducts{
	list-style:none;
	font-size:14px;
	text-align:left;
	border:thin gray solid;
	/*clear:both;*/
}

.cartproducts {
	clear:both;
	text-align:left;
	padding:10px;
	
	
}

.booklist h2 { font-size:19px;}





.unselect {
	padding-left:5px;
	border-left: thin gray solid;
	
	
	
}


.bgsection {
	background-color: #E8F1F8;
	padding:5px;
	text-align:center;
}

.subs {
	padding-right:5px;
	padding-left:5px;
	border-left: thin gray solid;
	
	
}

.selectall {

	background-color: #E8F1F8;
	padding:5px;
	
}


.reqmat {
	width:200px;
}

.sallmargin {
	margin-right:5px;
}


.addcart {
	margin: 0px !important;
}


.modelink {
	margin-bottom:10px;
}

.selectitems {
	margin-top:5px;
	width:10px;
}

.productoverlay, summary, .info{
	width:100px;
}

#contentbooklist {
	border-left: thin gray solid;
}

.Products h3 {
	margin-bottom:10px;
	background-color: #E8F1F8;
	padding:5px;
	margin-right:5px;
}

.Products {
	margin-top:10px;
	width:500px;
}

td.unselect.last {text-align:center;}
td.subs {padding-left:35px;}
.newused {
	padding-right:35px;
	}


.subs, .unselect{
	width:20px;
}
#CartForm {
	text-align:left;
	padding-top:35px;
	width:940px;
	padding-bottom:10px;
	
}

/*#CartForm #leftWrap {display:none;}*/

.shoppingcarttable, .shoppingcarttable1, .shoppingcarttable2 {padding:10px;
	
}
#pnlCartSummary input {
	border:thin solid gray !important;
}

/********************************************************
2011-05-18 - A Conley (DSI)
    Added styles for .RentalAgreementButton
*********************************************************/
.CartDeleteButton, .btnContinueShoppingBottom, .btnCheckOutNowBottom, #btnUpdateCart4, #btnUpdateCart3, .UpdateCartButton, .ContinueShoppingButton, .CheckoutNowButton
,.RentalAgreementButton {
	border:none !important;
	cursor:pointer;
}

form.CartDeleteButton {
border:none;
}

/*----------------------------------------------------*/


#CartForm a {
	color: #1C75BC;
	cursor:pointer;
}

.UpdateCartButton {
	margin-top:5px;
}


#pnlCartSummarySubTotals {
	border:thin solid gray;
	padding:10px;
}


#EMail, #Password {
	border: thin gray solid;
	padding:3px;
}

.shoppingcartpage {
	padding:10px;
}

#FormPanel {
	padding:10px;
}

#Label6, #Label7 {
	color: #1C75BC;
}#HyperLink1 {
	color: #1C75BC;
	font-size:14px;
	

}

.shoppingcarttable  {
	font-size:15px;
}









/*----------------------------------------------------
	SHOPPING CART STYLES
----------------------------------------------------*/


/********************************************************
2011-05-18 - A Conley (DSI)
    Added styles for .RentalAgreementButton
*********************************************************/
.ContinueShoppingButton, .CheckoutNowButton,.UpdateCartButton, #LoginButton, .UpdateAccountButton, .AccountPageContinueCheckoutButton, .PaymentPageContinueCheckoutButton, .ReviewPageContinueCheckoutButton, #btnReturn
, .EditAddressButton, .EditAddressButton, .SelectAddressButton, #btnSubmit,.RentalAgreementButton, #btnShppingEqBilling, #butbynowlive, #butbynowtest
{
	background: transparent url(images/btnBkg.gif) no-repeat top left;
	color:#ffffff;
	font-weight:bold;
	width:140px;
	height:24px;
	border:none;
	font-family: Gill Sans MT, Gill Sans, Arial, Verdana;
	cursor:pointer;
	border:none !important;
	
}	
#btnRequestNewPassword, .ShippingPageContinueCheckoutButton
{
	background: transparent url(images/btnBkgLrg.gif) no-repeat top left;
	color:#ffffff;
	font-weight:bold;
	width:160px;
	height:24px;
	border:none;
	font-family:Gill Sans MT, Gill Sans, Arial, Verdana;
}
.CartDeleteButton, .formsubmit
{
	cursor:pointer;
	background: transparent url(images/btnBkgSm.gif) no-repeat top left;
	color:#ffffff;
	font-weight:bold;
	width:110px;
	height:22px;
	border:none;
	font-family:Gill Sans MT, Gill Sans, Arial, Verdana;

}

#AjaxShipping
{
    width: 99%;
    border: solid 1px #444;
    height: 100%;
    float: left;
    padding: 3px;
}
#AjaxShipping h4
{
    margin: 0 0 0.5em 0;
    font-weight: bold;
    font-size: 1.1em;
}
.AjaxShippingLabel
{
    width: 175px !important;
    float: left;
    font-weight: bold;
    clear: left;
}
#AjaxShipping input, #AjaxShipping select
{
    font-size: 1em;
    float: left;
}
#AjaxShippingCountry, #AjaxShippingState, #AjaxShippingZip, #AjaxShippingEstimate
{
    float: left;
    clear: left;
    border-top: solid 1px #eee;
    width: 99%;
    padding: 3px 0;
}
#ShipQuote
{
    float: left;
    margin: 0;
}


/* Set Visibility to :hidden and uncomment 'display' to turn off */
#AjaxShippingCountry
{
    visibility: visible;
    /*display:none;*/
}
#AjaxShippingState
{
    visibility: visible;
    /*display:none;*/
}
.OrderOptionsTitle  {    font-family: Trebuchet MS, Verdana, Arial, sans-serif; font-size: 10pt; font-weight: bold; }
.OrderOptionsRowHeader  {     font-family: Trebuchet MS, Verdana, Arial, sans-serif; font-size: 8pt; font-weight: bold; }
.OrderOptionsName  {     font-family: Trebuchet MS, Verdana, Arial, sans-serif; font-size: 8pt; font-weight: normal; }
.OrderOptionsDescription  {      font-family: Trebuchet MS, Verdana, Arial, sans-serif; font-size: 8pt; font-weight: normal; }
.OrderOptionsPrice  {     font-family: Trebuchet MS, Verdana, Arial, sans-serif; font-size: 8pt; }

/* Kit Specific Styles */
#KitSideBar
{
	border:solid 1px Gray;
	position:absolute;
	z-index:99; /*999999999 !important;*/
	width:180px;
	background-color:#FFFFE1;
	/*right:10px;*/
	margin-left: 10px;
}

#KitAddToCartForm
{
	padding: 5px 5px 10px 5px;
	margin: 0px 5px 0px 5px;
	border-top: solid 1px Gray;
}

#KitPlaceHolder
{
	width:150px;
}

#KitTable
{
	width:500px;
	/*border-top: solid 1px red;*/
		
}

#KitTable td
{
	padding: 4px 0px 4px 0px;
}

#KitAddToCartFormHeader
{
	border-bottom:solid 3px #444;
	/*height:15px;*/
	text-align:center;
}

#KitAddToCartFormPrice
{
	line-height:30px;
	padding: 5px 5px 5px 5px;
	margin: 0px 5px 0px 5px;
	border-bottom: solid 1px Gray;
}

.KitAddToCartFormPrice
{
	/*line-height:30px;*/
	padding: 5px 5px 5px 5px;
	margin: 0px 5px 0px 5px;
	border-bottom: solid 1px Gray;
}

.KitAddToCartFormDetailsHeader
{
	text-align:center;
	text-decoration:underline;
}


.KitAddToCartFormDetails
{
	padding: 0px 5px 0px 5px;
	margin-left: 10px;
}

.KitTableGroup
{
	background-color: #f5f5f5; 
}

.KitRowSpacer
{
}

.KitSpacer
{
	height:10px;	
}

#KitAddToCartFormDetailsHeader
{
	text-align:center;
	text-decoration:underline;
}

#KitAddToCartFormDetails
{
	padding: 0px 5px 0px 5px;
	margin-left: 10px;
}

#KitSideBar input[type="button"]
{
	width:120px;	
	text-align:center;
	margin-top:3px;
}


.KitRegularBasePrice
{
	font-style:italic;
	text-decoration:line-through;
}

.KitBasePrice
{
}

.KitBasePriceOnSale
{
}

.KitCustomizedPrice
{
}

.KitCustomizedPriceOnSale
{
}

.KitLevelPrice
{
}

.KitLevelPriceOnSale
{
}

/* eCity Additions */

/* SignIn.aspx */

#pnlStudentLogin, .pnlStoreLogin
{
	float:left;
	width:45%;
	

}
.pnlStoreLogin
{
	margin-right:5%;
	
}
#pnlStudentLogin .inner, #pnlStoreLogin .inner
{
	border:1px solid black;
	padding:.5em;
}

#pnlStudentLogin .title, #pnlStoreLogin .title
{
	font-size:14px;
	text-align:left;
}


#pmtCreditCard {margin-right:5px;}





/**********/

/* CLOSER */
#closer
{
    font-size: 0.7em;
    color: #444;
    margin: 1em 0;
}
#closer a
{
    color: #444;
}











/* PRODUCT PAGE */
#productTopBox
{
    text-align: right;
    padding: 1.5em 10px 10px 10px;
}
h2
{
    margin: 0;
    font-size: 1.4em;
    text-align: left;
}
h2.ProductNameText
{
	 margin: 0;
    font-size: 1.8em;
    text-align: left;
}

#sku
{
    display: block;
}
#price
{
    font-weight: bold;
    font-size: 1.5em;
    display: block;
}
.SalePrice
{
    color: #cc0000 !important;
}
#description, #quoteBox, #otherinfo
{
    margin: 10px;
}
.prodHeader
{
    width: 99.5%;
    height: 1.2em;
    color: #6B6F83;
    clear: both;
    font-weight: bold;
    font-size: 1.2em;
    padding: 3px 5px;
    border-bottom: solid 2px #6d6965;
}
#quoteBox input, #quoteBox select
{
    font-size: 1em;
    display: block;
    margin: 5px 0;
}
#mainImg
{
    margin: 0 10px 10px 0;
    float: left;
}
.prodcontent
{
	margin-left: 8px !important;
}
.addcartform
{
	clear:both; 
	display:block; 
	float:none; 
	height:100%;
	margin-right:25px;
}
.addcartformOpt
{
	margin-left:7px;
	clear:both; 
	display:block; 
	float:none; 
	height:160px
}
.sep
{
	clear:both;
	float:none;
	margin:0px;
	padding:0px;
}

.AddToCartButton
{
	background: transparent url(images/addtocart.gif) no-repeat top left;
	border:none;
	width:138px;
	height:32px;
	/*display:table-cell;
	float:left;
	clear:left;*/
	color: transparent;
}

.AddToWishButton
{
	background: transparent url(images/addtowish.gif) no-repeat top left;
	border:none;
	width:170px;
	height:32px;
	/*float:right;*/
	clear:right;
	color: transparent;
}


/* Product Titles on Details Page */
.ProductNameText {
/*margin: 0;
font-size:1.4em;
font-weight:bold;
text-align: left;*/
	padding-top: 30px;
	font-size: 18px;
	line-height:26px;
	font-family: arial,helvetica,sansserif;
	font-weight:bold;

}


/* Item layout on Details Page */
.addtocartform label {display: block;}
.divcartbuttons {padding-top: 20px;}




.ContinueShoppingButton, .CheckoutNowButton,.UpdateCartButton, #LoginButton, .UpdateAccountButton, .AccountPageContinueCheckoutButton, .PaymentPageContinueCheckoutButton, .ReviewPageContinueCheckoutButton, #btnReturn
, .EditAddressButton, .EditAddressButton, .SelectAddressButton, #btnSubmit, #btnChgPwd, 
{
	background: transparent url(images/btnBkg.gif) no-repeat top left;
	color:#ffffff;
	font-weight:bold;
	width:140px;
	height:24px;
	border:none !important;
	font-family: Gill Sans MT, Gill Sans, Arial, Verdana;
	cursor:pointer;
	text-align:center;
	
}	


#btnContinueCheckout 
{
	background: transparent url(images/btnBkgXL.png) no-repeat top left;
	color:#ffffff;
	width:208px;
	height:24px;
	border:none;
	font-family:Gill Sans MT, Gill Sans, Arial, Verdana;
}

#btnRequestNewPassword, .ShippingPageContinueCheckoutButton
{
	background: transparent url(images/btnBkgLrg.gif) no-repeat top left;
	color:#ffffff;
	font-weight:bold;
	width:160px;
	height:24px;
	border:none;
	font-family:Gill Sans MT, Gill Sans, Arial, Verdana;
}
.CartDeleteButton, .formsubmit, #btnUpdateGiftSettings
{
	cursor:pointer;
	background: transparent url(images/btnBkgSm.gif) no-repeat top left;
	color:#ffffff;
	font-weight:bold;
	width:110px;
	height:22px;
	border:none;
	font-family:Gill Sans MT, Gill Sans, Arial, Verdana;

}

#SearchForm2 input {
	border:1px solid grey;
	height:20px;
}

.addToForm
{
    margin-top: 1em;
}
#shipQuoteLabels
{
    width: 10em;
    height: auto;
    float: left;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}
#shipQuoteLabels label
{
    display: block;
    line-height: 2em;
}
#ShipQuote, #yourQuote
{
    font-weight: bold;
    line-height: 2em;
}
#shipQuoteWrapper
{
    height: auto;
    float: left;
}
#navArrows
{
    float: right;
}








/* Wishlist Page */

#ctl00_PageContent_ctl00_btnContinueShopping1 {
	margin-right:150px;
}








/* ENTITY LANDING PAGE */

.topFeature
{
    float: left;
    width: 24.8%;
    height: auto;
    text-align: left;
}

.topFeatureP
{
    margin: 0;
    padding: 0.5em;
    text-align: left;
}
.topFeature p
{
    margin: 0;
    text-align: left;
}
.topFeatureP img
{
    margin-bottom: 0.5em;
}
.topPrice, .topName
{
    font-weight: bold;
    text-align: left;
}

#entitySep
{
    clear: both;
    margin-top: 1em;
}
.btmP
{
    clear: left;
    border-bottom: 1px solid #C6C3BA;
    float: left;
    width: 683px;
    margin: 0.5em 0;
    padding: 0.5em;
}
.btmP img
{
    float: left;
    margin-right: 1em;
}
.btmP span
{
    display: block;
}
.btmName, .btmPrice, .btmSalePrice
{
    font-size: 1.1em;
    font-weight: bold;
}
.btmDescription, .topDescription
{
    display: block;
    padding-bottom: 1em !important;
}
.btmPrice
{
}
.btmSalePrice
{
    color: #cc0000;
}
.btmInStock, .btmOutStock, .topInStock, .topOutStock
{
    display: inline !important;
    font-weight: bold;
    color: #6d6965;
}
.btmOutStock, .topOutStock
{
    color: #aaa;
}
#entityPageHeader p
{
    margin-top: 0;
}
#entityPageHeader img
{
    margin: 0 1em 0.5em 0;
    float: right;
}

.entityCategory
{
    margin: 0 0 1em 0;
    font-size: 1.1em;
}










/* OTHER SELECTORS */
.MediumCell, .LightCell
{
    border: none;
}

.error
{
    font-size:1.25em;
    font-weight:bold;
    color:#ff0000;
	line-height: 35px;
}

.errorLg
{
    color: Red;
    font-size: 12px;
    font-weight: bold;
}

.SBProdName
{
    font-size: .7em;
}
.SBCatName
{
    font-size: .8em;
    font-weight: bold;
}

.PBCartFull
{
    font-size: .7em;
    color: Blue;
    font-weight: bold;
}









/* COMPONENT ART HORIZONTAL MENU */

#PageTopIcons
{
	float:right;
	width:290px;
	height:40px;
}
#PageTopIcons table
{
	height:40px;
	padding-right:10px;
	float:right;
	width:100%;
}
#PageTopIcons .iconstd
{
	width:98px;
	text-align:center;
	padding-top:4px;
	padding-right:5px;

}






input.CartDeleteButton {
	border:none !important;
}


#pnlAccountInfo, #pnlBillingInfo, #pnlShippingInfo {
	width:700px;
}

#pnlAccountInfo input, #pnlBillingInfo input, #pnlShippingInfo input {
	border:solid 1px gray;
	padding: 1px;
}

#pnlAccountInfo select, #pnlBillingInfo select, #pnlShippingInfo select {
	border:solid 1px gray;
	padding: 1px;
}

/* AJC 2012-01-04 - MESSES UP THE DISPLAY OF THE SUBSTITUTION PANEL
#pnlMain {
	width:750px;
	float:right;
}
*/


#clSelectedCoursesList img {
	margin-right:5px;
}

#FormPanel {
	width:750px !important;
	
}

#HeaderPanel {
	width:962px !important;
	text-align:left;
}

#CheckoutMap {float:left; margin-bottom:20px;}

#table1 {width:900px !important;}

#btnSignInAndCheckout, #RegisterAndCheckoutButton {
	cursor:pointer;
}

#shopcartmain{
	margin-left:auto;
	margin-right:auto;
	width:940px;
}

#pnlCartSummary input.CartDeleteButton, #pnlCartSummary input.UpdateCartButton {
	border:none !important;
}








/*-----------ACCOUNT PAGE-----------*/

#AccountForm {
	padding-top:10px;
	padding-bottom:10px;
	width:940px;
}

.account1 input {
	border:thin solid gray;
	padding:2px;
}
.account1 {
	line-height:25px;
}

.UpdateAccountButton {
	margin-top:5px;
	cursor:pointer;
}

.accountbutton {
	text-align:left;
}

#btnRequestNewPassword, #LoginButton {
	cursor:pointer;
}








/*-------------------------------------------*/
/*-----------ADDRESS PAGE-----------*/

#tblAddressListBox{
	padding:5px;
	line-height:25px;
}
#tblAddressListBox input, #tblAddressListBox select, #ddlChooseShippingAddr {
	border:thin solid gray;
	padding:2px;
}

#tblAddressListBox, #pnlAddressList, {
	padding:5px;
}

.SelectAddressButton, #btnNewAddress {
	border:none !important;
}
#pnlNewAddress {
	padding:5px;
	cursor:pointer;
}
#btnReturn  {
	cursor:pointer;
	float:left;
	margin-top:10px;
	clear:right;
}
 
#pnlSelectShipping, #pnlCartAllowsShippingMethodSelection {
	text-align:left;
}

#btnContinueCheckout {
	cursor:pointer;
	margin-bottom:5px;
	margin-top:5px;
	float:left;
	
}


#txtPassword, #ForgotEMail {
	border:thin solid gray;
	padding:2px;
}


#pnlCheckoutImage {
	text-align:left !important;
	margin-bottom:10px;
	/*margin-top:5px;*/
}

#btnContinueToCheckOut  {
	cursor:pointer;
}


#paymentPanes {
	width:920px !important;
}

#pnlOrderSummary {
	margin-right:10px;
	
}

#pnlHeaderGraphic {
	margin:5px 0 10px 0;
}


#tblGiftRegSettingsBox table {
	padding:5px !important;
}

#tblGiftRegistryItemsBox {
	margin-bottom:10px;
}


#tblGiftRegistrySearch {
	padding:5px;
}

#tblGiftRegistrySearch input, #emailRequiredMAIN input {
	border:thin solid gray;
	padding:2px;
}


#pnlGiftRegistrySettings {
	margin-top:-15px;
}

#tblGiftRegistrySearch {
	margin:10px 0 10px 0;
	padding:5px;
}

#tblGiftRegistrySearchBox table {
	margin:5px !important;
}


#rbsratexlogo {
	font-size:.7em;
}








/***********************************************
2011-05-18 - A Conley (DSI)
    Added styles for Rental Agreement page
************************************************/
.RentalAgreementHeader {margin-top: 15px; border: 1px solid #444; border-width: 1px 0px; padding: 3px 0px;}
.RentalAgreementText {margin: 5px 0px;}
.RentalAgreementReturnDate {font-weight: bold; margin: 5px 0px;}
.RentalAgreementList {margin: 10px 0px;}
.RentalAgreementList td {border: 0px; padding: 0px 5px; vertical-align: top;}
.RentalAgreementList td.RAProductName {width: 170px;}
.RentalAgreementList td.RAQty {text-align: center;}
.RentalAgreementList td.RAPrice {width: 70px;}
.RentalAgreementList td.RAReplacementFee {width: 100px;}
.RentalAgreementList td.RACheckbox {text-align: center; width: 75px;}
.RentalAgreementList tr.RAHeader td {font-weight: bold; vertical-align: bottom; padding-bottom: 5px;}
.RentalAgreementList td.RADelete {width: 75px; }
.RentalAgreementList td.RADelete a {font-weight: bold; color: #ff0000 !important; font-size: 2.5em; line-height: 0.75em }
.RentalAgreementButtons {text-align: center; margin-top: 20px;}
.RentalAgreementNoRentals {margin: 20px 0px; font-size: 1.2em; font-weight: bold}

/***********************************************
2011-08-12 - A Conley (DSI)
    Added style for box number on checkoutshipping.aspx page
***********************************************/
.shippingboxnumber {margin-left: 30px;}


.accountInfo {
	width:941px !important;
}

.accountInfo input {
	border:grey solid 1px;
}

.tabs-container h3 {
	text-align:left;
}









/*-------------------------------------------*/
/*----------- Last Updates / Booklist-----------*/
.books {
	width:500px !important;
}

#pnlBookList {
	width:500px !important;
}

.booklist {
	width:600px !important;
}

.booklistright {
	width:250px;
}

#pnlAddressList {

	margin-top:10px;
}


#pnlAddressListBottom {
	padding-left:28px;
}

#ErrorPanel, #ErrorMsgLabel {
	text-align: left;
	float:left;
	clear:both;
}

#LoginButton {
	margin-top: -25px;
	margin-bottom:10px;
	margin-left:200px;
	
}

#btnRequestNewPassword {
	margin-left:200px;
}
 
#btnChgPwd {
	float: left;
	text-align:center;

}

#Label19 {
	color: #1C75BC;
}

.ContShoppingBtn1, .ChooseAddCourses1
{
	background: transparent url(images/btnBkg.gif) no-repeat top left;
	color:#ffffff;
	font-weight:bold;
	width:140px;
	height:24px;
	border:none;
	font-family: Gill Sans MT, Gill Sans, Arial, Verdana;
	font-size:10px;
	cursor:pointer;
	padding-top:5px;
	text-align:center;
	float:left;
	margin-left:8px;
	margin-top: -10px !important;
}

.ContShoppingBtn1 a, .ChooseAddCourses1 a
{
	color:#ffffff;
	text-decoration: none !important;	
}	

#pnlAccountInfo, #pnlBillingInfo, #pnlShippingInfo {
	line-height:25px;
}

#pnlCartAllowsShippingMethodSelection {
	line-height:25px;
}

#ShipSelectionMsg {
	color: red;
}

#CartSummary1 {
	width:930px;
}

#CartSummary1 table {
	padding:5px !important;
}


#UniversityandPaymentTable table, #pnlOrderSummary table{
	padding:5px !important;
	width:920px;
}







/*----------------------------------------------------
	COMP STORE STYLES
----------------------------------------------------*/

.compStoreTextbox {
	border: solid 1px #E5E5E5 !important;
    background: #666666;
    margin: 5px 5px 0px 5px;
	border-radius: 8px;
    padding: 8px;
	text-align:center;
	color: #666;
    display:block;
    font-size:12px;
	height: 31px;
    width:210px;
    background: 
        -webkit-gradient(
            linear,
            left top,
            left 25,
            from(#FFFFFF),
            color-stop(4%, #EEEEEE),
            to(#FFFFFF)
        );
    background: 
        -moz-linear-gradient(
            top,
            #FFFFFF,
            #EEEEEE 1px,
            #FFFFFF 25px
            );
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;
    box-shadow: 0px 0px 6px #f0f0f0;
}




#tableEmail {
	width: 600px;
	padding:10px;
}


#UclaCorpLogo {
	float:left;
	clear:right;
	margin:7px 15px 0 15px;
}








/*----------------------------------------------------
	BOOKZONE STYLES
----------------------------------------------------*/



.bookzoneitems {
	/*height:220px;*/
	
	
}
.bookzoneitems a {
	font-size: 12px;	
	
}

.bookzonecovers {
	width:130px;
	height:200px;
	float:left;
	
}

.readmore {
	width:575px;
	float:left;
	
}

.authorstitle {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;	
}

.authorsdesc {
	font-size: 14px;
	font-weight: light;
	
}

.authors {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	margin-bottom:10px;
	
}

.authorsbar {
	height: 2px;
	width: 575px;
	background-color: black;
	overflow: hidden;
	float:right;
	margin:2px 30px 30px 0;

	
	
}

.bookzoneprice {
	display:none;
	float:left;
	clear:right;
	width:110px;
}

#bookzoneEmaildiv {
	border: 1px solid gray;
	width: 270px;
	
}

#bookzoneEmaildiv p{
	font-size:10px;
	padding-left:5px;
}

#BookzoneEmail {
	padding:5px;
}

#textareaBookzone .contentH {
	margin:10px 0 15px 0px;
}

input#bookzoneEmail{
	width:200px;
}








/*----------------------------------------------------
	HEALTH SCIENCES STYLES
----------------------------------------------------*/


#leftsideHss {
	
	float:left;
	margin-left:10px;
	width:435px;
}

#rightsideHss {
	width:270px;
	float:right;
	margin-right:10px;
	margin-top:20px;
}


img.hssHoneButtonLeft {
	margin-right: 10px;
	margin-bottom: 4px;
}

img.hssHoneButtonRight {
	margin-bottom: 4px;
}


#hssEmaildiv {
	border: 1px solid gray;
	width: 270px;
}

#hssEmaildiv #submit {
	border: none;
	margin-bottom: -8px;
}

#hssEmaildiv p{
	font-size:10px;
	margin-left: 5px;
}

#hssEmailForm {
	padding:5px;
}

input#hssEmail{
	width:190px;
	height: 20px;
}








/*----------------------------------------------------
	BOOKZONE STYLES
----------------------------------------------------*/

#eventscontent {
	height: 500px;
	padding-top: 20px;
}








/*----------------------------------------------------
	GRAD ETC STYLES
----------------------------------------------------*/
	
#capAndGownButtons {
	margin-left: 10px;
	width:448px;
	float: left;
}
	
#capAndGownButtons a {
	display: block;
	margin: 0 0 11px;
}
	
#capAndGownRight {
	margin-right: 10px;
	width: 254px;
	height: 439px;
	float: right;
	background: transparent url(http://shop.uclastore.com/images/gateways/GradEtc_capAndGownRight.png) no-repeat top center;
}
	
#capAndGownRight a {
	width: 142px;
}
	
#capAndGownRight img {
	margin: 0 56px;
}

#capAndGownRight p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: white;
	text-align: center;
}

/*-- nitro --*/

#contentText {
	border-left-color:#EBEBEB;
	padding-top: 20px;		
}
.ctl00_aspnetMenu_2, .aspnetMenu_Level2 {
	font-weight: normal !important;
	float: left;
}

ul.tame {
    padding: 10px 0 10px 10px !important;
}